{% extends 'base_message.html' %}
<!-- prettier-ignore -->
{% block title %} Reset password {% endblock%} 
{% block preview %} 
We have received a request to reset your password 
{% endblock %} 
{% block content %}

<p>Hi {{user.first_name}} {{user.last_name}},</p>

<p>
  You're receiving this email because you requested a password reset for your
  user account on the Example Website.
</p>

<p>Please go to the following page and choose a new password:</p>

<!-- prettier-ignore -->
{% autoescape off %} {% block reset_link %}
{{ reset_password_url }}
{% endblock %} {% endautoescape %}
<p>Your login email, in case you've forgotten, is: {{ email }}</p>

<p>Thanks for using our site!</p>

{% endblock %}
